.wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.wrapper div {
    border: 2px solid black;
    padding: 50px;
    margin: 10px 0;
}

.wrapper .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.label {
    grid-row: 1;
}

.input {
    grid-row: 2;
}

.my_article {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.wrapper_circle {
    display: flex;
    position: relative;
}

/* .hidden_rectangle {
    width: 20%;
    background-color: red;
} */

.wrapper_circle .circle {
    width: 500px;
	height: 500px;
	/* -moz-border-radius: 250px; */
    /* -webkit-border-radius: 250px; */
    border: 3px solid red;
    border-radius: 250px;

    position: relative;
    left: -120px;
}

.wrapper_circle .circle_number {
    width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;    
}

.numbers {
    position: relative;
    right: 90px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.wrapper_circle .circle_number.num1 {
    right: 115px;
    position: relative;
    margin: 30px 0;
}

.wrapper_circle .circle_number.num2 {
    right: 60px;
    position: relative;
    margin: 30px 0;
}

.wrapper_circle .circle_number.num3 {
    right: 60px;
    position: relative;
    margin: 30px 0;
}

.wrapper_circle .circle_number.num4 {
    right: 120px;
    position: relative;
    margin: 30px 0;
}

.wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
 }
